{% block body %}


    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
        <meta name="author" content="Creative Tim">
        <title>Argon Dashboard - Free Dashboard for Bootstrap 4</title>
        <!-- Favicon -->
        <link rel="icon" href="../assets/img/brand/favicon.png" type="image/png">
        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        <!-- Icons -->
        <link rel="stylesheet" href="../assets/vendor/nucleo/css/nucleo.css" type="text/css">
        <link rel="stylesheet" href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
        <!-- Argon CSS -->
        <link rel="stylesheet" href="../assets/css/argon.css?v=1.2.0" type="text/css">
    </head>

    <body class="bg-default">

    <!-- Main content -->
    <div class="main-content">
        <!-- Header -->
        <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                            <h1 class="text-white">Sign up</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <div class="container mt--8 pb-5">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-secondary border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                                <div class="form-group">
                                    {{ form_start(registrationForm , {'attr' : {'novalidate' : 'novalidate'}}) }}

                                        {% if not registrationForm.vars.valid %}
                                        {% for child in  registrationForm.children %}
                                            {% for error in child.vars.errors %}
                                                <div class="alert alert-danger">{{ error.message }}</div>
                                            {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                    <div class="input-group input-group-merge input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        {{ form_widget(registrationForm.firstname  , {'attr' : {'class' : 'form-control' , 'placeholder' : 'first name'}}) }}

                                    </div>
                                    <div class="input-group input-group-merge input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        {{ form_widget(registrationForm.lastname  , {'attr' : {'class' : 'form-control' , 'placeholder' : 'last name'}}) }}
                                    </div>

                                    <div class="input-group input-group-merge input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        {{ form_widget(registrationForm.username  , {'attr' : {'class' : 'form-control' , 'placeholder' : 'user-name'}}) }}
                                    </div>

                                    <div class="input-group input-group-merge input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        {{ form_widget(registrationForm.email  , {'attr' : {'class' : 'form-control' , 'placeholder' : 'email'}}) }}
                                    </div>

                                    <div class="input-group input-group-merge input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                                        </div>
                                        {{ form_widget(registrationForm.phoneNumber  , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Phone Number'}}) }}
                                    </div>

                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                            class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form_widget(registrationForm.plainPassword  , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Password'}}) }}

                                    </div>


                                    <div class="row mt-3">
                                            <div class="col-8">
                                                {{ form_widget(registrationForm.agreeTerms ) }}
                                                {{ form_label(registrationForm.agreeTerms, 'Agree to the terms and services' , {'label_attr' : {'class' : 'text-muted'}}) }}
                                            </div>
                                            <div class="col-4 text-right">
                                               <a style="font-size: 17px; color: #8a9aac!important; margin-right: 12px; " href="{{ path('app_login') }}" class="text-gray login-link">login</a>
                                            </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mt-4">Register</button>
                                    </div>

                                    {{ form_end(registrationForm) }}
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Argon JS -->
    <script src="../assets/js/argon.js?v=1.2.0"></script>
    </body>

    </html>

{% endblock %}
