<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {# {{ encore_entry_link_tags('app') }} #}

    <!-- Favicon -->
    <link rel="icon" href="{{ asset('/assets/img/brand/favicon.png') }}" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700') }}">
    <!-- Icons -->
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nucleo/css/nucleo.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}"
          type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="{{ asset('/assets/css/argon.css?v=1.2.0') }}" type="text/css">

    {% block stylesheets %}

    {% endblock %}


</head>
<body>
{% block nav %}

    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="{{ asset('/assets/img/brand/blue.png') }}" class="navbar-brand-img" alt="...">
                </a>
            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == '/user/' %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ path('user_index') }}">
                                        <i class="ni ni-bullet-list-67 text-default"></i>
                                        <span class="nav-link-text">Users</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('user_index') }}">
                                        <i class="ni ni-bullet-list-67 text-default"></i>
                                        <span class="nav-link-text">Users</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}



                        {% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == '/profil' %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('profil') }}">
                                    <i class="ni ni-single-02 text-yellow"></i>
                                    <span class="nav-link-text">Profile</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profil') }}">
                                    <i class="ni ni-single-02 text-yellow"></i>
                                    <span class="nav-link-text">Profile</span>
                                </a>
                            </li>
                        {% endif %}


                    </ul>

                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}{% endblock %}
</body>

{% block javascripts %}

{% endblock %}



{# {{ encore_entry_script_tags('app') }} #}
<!-- Core -->
<script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/js-cookie/js.cookie.js"></script>
<script src="../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Argon JS -->
<script src="../assets/js/argon.js?v=1.2.0"></script>

</html>
