{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}


{% block body %}

  <!-- Sidenav -->

  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Search form -->
          <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
            <div class="form-group mb-0">
              <div class="input-group input-group-alternative input-group-merge">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text">
              </div>
            </div>
            <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </form>
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item d-xl-none">
              <!-- Sidenav toggler -->
              <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </div>
            </li>
            <li class="nav-item d-sm-none">
              <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                <i class="ni ni-zoom-split-in"></i>
              </a>
            </li>


          </ul>
          <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder"  src="{{ asset('/assets/img/user.png') }}">
                  </span>
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right ">
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Welcome!</h6>
                </div>
                <a href="{{ path('profil') }}" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>My profile</span>
                </a>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-settings-gear-65"></i>
                  <span>Settings</span>
                </a>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-calendar-grid-58"></i>
                  <span>Activity</span>
                </a>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-support-16"></i>
                  <span>Support</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('app_logout') }}" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Tables</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <a class="btn btn-sm btn-neutral" href="{{ path('user_new') }}">Create new</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Light table</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>

                    <th scope="col" class="sort" data-sort="budget">Email</th>
                    <th scope="col" class="sort" data-sort="budget">Phone-number</th>
                    <th scope="col" class="sort" data-sort="status">Roles</th>
                    <th scope="col">Password</th>
                    <th scope="col" class="sort" data-sort="completion">First-name</th>
                    <th scope="col" class="sort" data-sort="completion">Last-name</th>
                    <th scope="col" class="sort" data-sort="completion">user-name</th>
                    <th scope="col" class="sort" data-sort="completion">actions</th>

                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                  {% for user in users %}
                    <th scope="row">
                      <div class="media align-items-center">

                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{ user.email }}</span>
                        </div>
                      </div>
                    </th>
                    <td class="budget">
                      <span class="badge badge-dot mr-4">
                      <i class="bg-red"></i>
                        <span class="status">{{ user.phonenumber }}</span>
                      </span>
                    </td>
                    <td>

                      {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                          <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                        <span class="status">ADMIN</span>
                      </span>
                        {% elseif role == 'ROLE_EDITOR'%}
                          <span class="badge badge-dot mr-4">
                      <i class="bg-primary"></i>
                        <span class="status">MOD</span>
                      </span>

                        {% else %}
                          <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i>
                        <span class="status">USER</span>
                      </span>

                        {% endif %}
                      {% endfor %}

                    </td>
                    <td class="budget">
                      {{ user.password }}
                    </td>
                    <td class="budget">
                      {{ user.firstname }}
                    </td>
                     <td class="budget">
                      {{ user.lastname }}
                    </td>
                    <td class="budget">
                      {{ user.username }}
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                        <a class="dropdown-item" href="{{ path('editusernp', {'id': user.id}) }}">edit</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer pt-0">
        <div style="margin: auto; width: 10%" class="pagination">
          {{ knp_pagination_render(users) }}

        </div>
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
              &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">SOCIALCERT-TN</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>



{% endblock %}
